
h1 {
    text-align: center;
}
p {
    text-align: center;
}
.negrito {
    text-align: center;
    font-size: 20px;
}

em {
    text-align: center;
    color: darkblue;

}

.banner {
    border-radius: 10px;
    width: 100%;
}

.beneficios {
    border-radius: 10px;
    width: 50%;
    justify-items: right;
}

.principal {
    background-color: gray;
    color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
}

.tituloCentralizado {
    text-align: center;
}

ul {
    display: inline-block;
}