body {
    background-color: gray;
    color: whitesmoke;
}

h1 {
    text-align: center;
}
p {
    text-align: center;
}
.negrito {
    text-align: center;
    font-size: 20px;
}

em {
    text-align: center;
    color: darkblue;

}
img {
    width: 100%;
}

